.paddingHeader{
  padding: 2rem 1.1rem;
  @include media(small) {
    padding: 3rem 2.7rem;
  }
  @include media(medium){
    padding: 4.4rem 2.7rem;
  }
  @include media(extra-large){
    padding: 4.4rem 25.7rem;
  }
}

.padding {
    padding: 2rem 1.1rem;
    @include media(small) {
      padding: 3rem 2.7rem;
    }
    @include media(extra-large) {
      padding: 7.0rem 24.7rem;
    }
  }

