.paddingHeader{
  padding: 1.8rem 1.1rem;
  @include media(small){
    padding: 2.3rem 2rem;
  }
  @include media(medium){
    padding: 2.3rem 2.5rem;
  }
  @include media(large){
    padding: 2.5rem 9.7rem;
  }
  @include media(extra-large){
    padding: 2.5rem 22.7rem;
  }
}

.padding {
    padding: 2rem 1.1rem;
    @include media(small) {
      padding: 3rem 2.7rem;
    }
    @include media(extra-large) {
      padding: 7.0rem 24.7rem;
    }
  }
.paddingFooter{
  padding: 2rem 1.1rem;
  @include media(small) {
    padding: 3rem 2.7rem;
  }
  @include media(extra-large) {
    padding: 2.0rem 24.7rem;
  }
}
