.title {
  color: var(--title-primary-color);
  font-family: "Montserrat";
}
.title-primary, .title-secondary{
  font-weight: 900;
}
.title-secondary {
  font-size: clamp(2.9rem, 5vw, 3.6rem);
}
.title-tertiary{
  font-size: clamp(2rem, 5vw, 2.4rem);
}
.title-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3.2rem;
  gap: 0.5rem;
  @include media(medium){
  margin-bottom: 5rem;

  }
}
