.methods{
    background-color: var(--background-primary-color);
    background-image: url(../../../img/methods/methods.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    &Content{
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        @include media (large){
            justify-content: center;
            align-items: center;
        }

    }
    &__fullBlock{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.8rem;
        @include media (small){
            grid-template-columns: repeat(1, 1fr);
        }
        @include media (large){
            grid-template-columns: repeat(2, 1fr);
        }
        @include media (extra-large){
            grid-template-columns: repeat(2, 1fr);
        }
    }

}
