.portfolio{
    background-color: var(--background-secondary-color);

    &Content{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1.0rem;
        @include media (large){
            gap: 2.3rem;
         }
    }

    &-gallery{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       gap: 3.5rem;
       align-self: center;
       position: relative;
       @include media (medium){
        grid-template-columns: repeat(2,1fr);
    }
        @include media (large){
        }
        @include media (extra-large){
            grid-template-columns: repeat(3,1fr);
        }
        img{
            cursor: pointer;
            height: auto;
            min-width: 38.5rem;
    }
}
.btn{
    margin: auto;
}
}
