.services {
  background-color: var(--background-secondary-color);
  text-align: center;
  &Content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  &Info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    align-self: center;
    justify-self: center;
    @include media(small) {
      grid-template-columns: repeat(1, 1fr);
    }
    @include media(medium) {
      grid-template-columns: repeat(1, 600px);
    }
    @include media(large) {
      grid-template-columns: repeat(2, 600px);
    }
    &-card {

      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.5rem;
      @include media(medium) {
        width: 60.4rem;

      }
      border-radius: 0.6rem;
      @include media(small) {
        min-width: 36rem;
      }
      h3 {
        font-size: 2.6rem;

        font-weight: 500;
        color: var(--txt-primary-color);
      }
      p {
        font-size: 2rem;
        max-width: 90%;
        font-weight: 500;
        color: var(--txt-primary-color);

      }
      img {
        width: 5rem;
      }
    }
  }
}
