.slogan {
  background-color: var(--background-primary-color);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    text-align: center;

    h2 {
      font-size: 2.3rem;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include media(small) {
        font-size: 4rem;
      }
      span {
        font-weight: 700;
        font-size: 3rem;
        @include media(medium) {
          font-size: 5.5rem;
        }
        @include media(large) {
          font-size: 6.4rem;
        }

      }
    }
    p {
      font-size: 1.8rem;

      @include media(small) {
        font-size: 2.4rem;
      }
    }
  }
}
