.websiteDef{
    h2{
        text-align: center;
        margin-bottom: 1.5rem;
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 4.7rem;
        margin: auto;
        max-width: 90%;
        @include media (medium){
            max-width: 80%;
            }
        &Block{
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }
        h3{
            font-weight: 500;
            color: var(--txt-primary-color);
            font-size: clamp(2.2rem,5vw,2.4rem);
            span{
                color: #139374 ;
            }
        }
        p{
            color: var(--txt-primary-color);
            @include media (medium){
                font-size: 2.4rem;
                }
        }
    }
}
