:root {
  --background-primary-color: #fffffd;
  --background-secondary-color: #f0f6fb;
  --title-primary-color: #094067;
  --title-secondary-color: #64a8e7;
  --txt-primary-color: #100A0A;
  --txt-secondary-color: #fbfbfb;
  --links-primary-color: #ff5677;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
}

/* main {
  margin-top: 12.4rem;
} */

.max-w {
  max-width: 1920px;
  margin: auto;
}




