:root {
  --background-primary-color: #fffffe;
  --background-secondary-color: #F0F6FB;
  --txt-primary-color: #5F6C7B;
  --txt-secondary-color: #FFFFFE;
  --title-primary-color: #094067;
  --title-secondary-color: #3FB3D1;
  --links-primary-color: #FF5677;
}
