:root {
  --background-primary-color: #fbfbfb;
  --background-secondary-color: #f0f6fb;
  --title-primary-color: #094067;
  --title-secondary-color: #64a8e7;
  --txt-primary-color: #36424e;
  --txt-secondary-color: #fbfbfb;
  --links-primary-color: #ff5677;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
}

main {
  margin-top: 7.4rem;
}

.max-w {
  max-width: 1920px;
  margin: auto;
}

.padding {
  padding: 2rem 1.1rem;
  @include media(small) {
    padding: 3rem 2.7rem;
  }

  @include media(extra-large) {
    padding: 5.4rem 24.7rem;
  }
}


