.about {
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
  background-color: var(--background-primary-color);
  h1 {
    font-size: clamp(1.8rem, 2.4rem + 2.5vw, 4.8rem);
    font-weight: 800;
    text-align: center;
    @include media(small) {
      width: 89%;
      margin: auto;
    }
    @include media(medium) {
      text-align: center;
    }
    @include media(large) {
      text-align: center;
      width: 60%;
      margin: auto;
    }
    @include media(extra-large) {
      text-align: left;
      margin: initial;
    }
  }
  &__content {
  }
  &__info {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 3.2rem;
    @include media(medium) {
      align-items: center;
    }

    @include media(extra-large) {
      flex-direction: row;
      justify-content: space-around;
      gap: 0;
    }
    @include media(extra-large) {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
    &Txt {
      display: flex;
      flex-direction: column;
      gap: 4.3rem;
      @include media(small) {
        width: 90%;
        margin: auto;
      }
      @include media(large) {
        width: 90%;
        margin: 0;
      }
      @include media(extra-large) {
        width: 50%;
      }
      span {
        h2 {
          font-size: 2rem;
          margin-bottom: 1.8rem;
          font-weight: 600;
        }
        p {
          font-size: 1.8rem;
          word-wrap: break-word;
        }
        strong {
          font-weight: 600;
        }
      }
      a {
        width: fit-content;
      }
    }
  }
  &__ceo {
    .txt, .title{
      font-weight: 500;
      font-size: clamp(2rem, 5vw, 2.5rem);
      text-align: center;
    }
    margin: auto;
    @include media(small) {
      img {
        width: 34.9rem;
        height: auto;
      }
    }
    @include media(large) {
      margin: 0;
      img {
        width: 47.9rem;
      }
    }
    @include media(extra-large) {
      position: fixed;
      top: 200px;
      right: 200px;
    }
  }
 
}
