.contact {
  background-color: var(--background-primary-color);
  text-align: center;
 
  form {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    width: 95%;
    margin: auto;

    @include media (small){
      width: 80%;
    }
    @include media (medium){
      width: 65.2rem;
    }
    h3 {
      text-align: left;
      color: var(--txt-primary-color);
      font-family: "Montserrat";
      font-size: 1.8rem;
    }
    button[type="submit"] {
        border: none;
        margin: auto;
        cursor: pointer;
    }
  }
  &-user, &-mail, &-message{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
