.legal{
    &__content{
        display: flex;
        flex-direction: column;
        gap: 3.6rem;
        p{
            font-size: clamp(1.8rem, 5vw, 2rem);

        }
        h2{
            font-size: clamp(1.8rem, 5vw, 2.2rem);
            font-weight: 600;
        }
    }
}
