.header {
  background-color: var(--background-primary-color);
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.4rem;
  flex-wrap: wrap;
  @include media(large) {
    flex-wrap: nowrap;
    height: 11.3rem;
  }
  /* burger */
  img:nth-child(2) {
    display: none;
  }

  &-social {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    width: 100%;
    margin-top: 3.5rem;
    @include media(large) {
      width: initial;
      margin: 0;
    }
  }
  &-mobile {
    display: none;
  }
}

.hiddenMobile {
  display: none;
  @include media(large) {
    display: flex;
  }
}

.nav-open {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 100%;
  padding-top: 1.5rem;
}
