.header {
  background-color: var(--background-primary-color);
  width: 100vw;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;


  &Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include media(medium) {
      flex-wrap: nowrap;
      height: 11.3rem;
    }
  }

  /* burger */
  img:nth-child(2) {
    @include media(medium) {
      display: none;
    }
  }

  &-social {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    width: 100%;
    margin-top: 3.5rem;

    @include media(medium) {
      width: initial;
      margin: 0;
    }
  }

  &-mobile {
    display: none;
  }
}

.hiddenMobile {
  display: none;

  @include media(medium) {
    display: flex;
  }
}

.nav-open {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  width: 100%;
  padding-top: 1.5rem;
}
