.lastProjects {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    @include media (medium){
      gap: 16rem;

    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    @include media(large) {
      flex-direction: row-reverse;
      justify-content: center;
      gap: 8.8rem;
      &:nth-child(2n + 1) {
        flex-direction: row;
      }
    }
    img {
      width: 100%;
      @include media (extra-small){
        width: 27.5rem;
        height: auto;
      }
      width: 38.5rem;
      height: auto;
      @include media(medium) {
        width: 62.8rem;
      }
    }
    &Info {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      width: 100%;
      .title-group {
        align-items: flex-start;
        margin: 0;
      }

      a {
        color: var(--links-primary-color);
        font-weight: 400;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      .techno{
        font-size: clamp(2rem , 5vw, 2.4rem);
        span{
          color: var(--txt-primary-color);
        }
      }
    }

    .cardProject__content {
      background-position: center;
      @include media(medium) {
        width: 49rem;
        height: 31.3rem;
        top: 9px;
        left: 70px;
      }
    }
  }
  .btn-secondary {
    width: max-content;
    margin: auto;
    margin-top: 7rem;
  }
}
