.home {
  background-color: var(--background-primary-color);
  &Content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @include media (small){
      text-align: center;
    }
    @include media (medium){
      flex-direction: row;
      justify-content: space-around;
      padding: 5.0rem 2.7rem;
      text-align: left;
    }
    @include media (large){
      justify-content: space-evenly;
    }
    @include media (extra-large){
      padding: 6rem 24.7rem;
      justify-content: space-between;
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      @include media (small){
        gap: 1.5rem;
      }
    @include media (medium){
      width: 46.1rem;
    }
      p{
        font-size: 1.8rem;
        @include media (small){
          font-size: 2.2rem;
        }
    @include media (medium){
      font-size: 2rem;
    }
    @include media (large){
      font-size: 2.4rem;
    }
      }
    }
  }
  .social {
    justify-content: flex-start;
    gap: 2rem;
    @include media (small){
      justify-content: center;
    }
    @include media (medium){
      justify-content: flex-start;
    }

    img {
      width: 2.6rem;
      height: auto;
      @include media (small){
        width: 3.0rem;
      }
      @include media(medium){
        width: 3rem;
      }
    }
  }
  &-btn {
    display: flex;
    gap: 1rem;
    @include media (small){
      justify-content: center;
      gap: 3rem;
    }
    @include media (medium){
      justify-content: flex-start;
    }
  }
  &-img{
    width: 25.0rem;
    @include media (small){
      width: 30.0rem;
    }
    @include media (medium){
      width: 35.0rem;
    }
    @include media(extra-large){
      width: 52.2rem;
    }
  }
.btn-secondary{
  img{
    filter: invert(43%) sepia(61%) saturate(849%) hue-rotate(305deg) brightness(102%) contrast(101%);
  }
}
}
