.methods{
    background-color: var(--background-secondary-color);
    background-image: url(../../../img/methods/methods.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    &Content{
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }
    &-block{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        text-align: center;
    }
}
