.nav {
  width: 100%;
  padding-top: 1.7rem;
  margin-top: 1.7rem;
  border-top: 1px solid var(--links-primary-color);
  z-index: 100;
  animation: showNav 0.9s;
  @include media(medium) {
    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    animation: none;
  }
  &::before {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    display: block;
    height: 20px;
    border-radius: 50%;
    background-color: var(--background-primary-color);
    @include media(medium) {
      display: none;
    }
  }

  &List {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    @include media(medium) {
      flex-direction: row;
    }
    &-item {
      text-align: center;
      a {
        font-family: "Montserrat";
        color: var(--txt-primary-color);
        font-weight: 400;
        font-size: clamp(1.9rem, 5vw, 2rem);
        &:hover {
          color: var(--links-primary-color);
          transition: 0.2s;
        }
      }
    }
  }
}
@keyframes showNav {
  0% {
    opacity: 0;
    height: 84px;
  }
  100% {
    opacity: 1;
    height: 243px;
  }
}
