.portfolio{
    background-color: var(--background-secondary-color);

    &Content{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1.0rem;
        @include media (large){
            gap: 2.3rem;
         }
    }

    &-gallery{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       gap: 3.5rem;
       align-self: center;
       position: relative;
       @include media (medium){
        grid-template-columns: repeat(2,1fr);
    }
        @include media (large){
        }
        @include media (extra-large){
            grid-template-columns: repeat(3,1fr);
        }
        img{
            cursor: pointer;
            width: 32.9rem;
            height: auto;
            box-shadow: 1.95px 1.95px 2.6px rgb(0 0 0 / 6%);
            @include media (small){
                width: 41.4rem;
                margin-bottom: 2rem;
             }
             @include media (large){
                width: 55.4rem;
             }
            @include media (extra-large){
                width: 41.4rem;
             }
    }
}
.btn{
    margin: auto;
}
}
