.slogan {
  background: linear-gradient(
      90deg,
      rgba(57, 177, 208, 0.3995) 0%,
      rgba(237, 123, 132, 0.85) 100%
    ),
    url("../../../img/slogan/slogan.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-primary-color);
  height: 40vh;
  text-align: center;
  &Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 5rem 1.1rem;
    height: 100%;
    h2 {
      color: var(--txt-secondary-color);
      font-size: 2.3rem;
      font-weight: 600;
      @include media(small) {
        font-size: 4.4rem;
      }
      @include media(large) {
        font-size: 5rem;
        max-width: 70%;
      }
    }
  }
}
