.social{
    display: flex;
    gap: 1.6rem;
    justify-content: center;
    a{
      border: 1px solid var(--links-primary-color);
      border-radius: 0.8rem;
      padding: 1rem;
      transition: all 0.7s;
      display: flex;
      align-items: center;
      justify-content: center;
    &:hover{
      background-color: var(--links-primary-color);
      img{
        filter: inherit;

      }
    }
    img {
      filter: invert(58%) sepia(67%) saturate(5215%) hue-rotate(321deg) brightness(109%) contrast(101%);
  }
    }
}
