@font-face {
    font-family: "Raleway";
    src: url("../../../raleway/Raleway-Medium.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url("../../../raleway/Raleway-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    src: url("../../../raleway/Raleway-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    src: url("../../../raleway/Raleway-Black.ttf");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("../../../font/lato/Lato-Regular.ttf");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("../../../font/lato/Lato-Medium.ttf");
    font-weight: 800;
    font-display: swap;
}

