/* Raleway */
@font-face {
  font-family: "Raleway";
  src: url("../../../font/raleway/Raleway-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../font/montserrat/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}
